::-webkit-scrollbar{
  width: 0.5rem;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(to top, #9D0AFF, #00ffe7);
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(to top, #9D0AFF, #00ffe7);
}